---
layout: default
title: Jittuu's craftsmanship
---

{% for post in paginator.posts %}
<section class="post">
  <header class="post-header">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title | xml_escape }}
      </a>
    </h2>
    <p class="post-meta">{{ post.date | date_to_string }}</p>
  </header>

  <div class="post-content">
    {{ post.content }}
  </div>
</section>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="button newer"><span>Newer Posts </span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    {% else %}
    <a href="/page{{paginator.previous_page}}" class="button newer"><span>Newer Posts </span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
  <a href="/page{{paginator.next_page}}" class="button older"><i class="fa fa-angle-left" aria-hidden="true"></i><span> Older Posts</span></a>
  {% endif %}
</div>
