a {
    text-decoration: none;
    color: rgb(142, 142, 214);
}
a:hover,
a:focus {
    text-decoration: underline;
}

pre, code, tt {font:0.95em 'consolas', Menlo, Monaco, 'lucida console', monospace;line-height:1.5;}

li img { display: block; }

/* LAYOUT CSS */
#layout {
    padding-left: 20%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    margin-left: -20%;
    background: rgb(24, 33, 61);
    color: #fff;
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 50% 2em 0;
    text-align: right;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-title a {
  color: #fff;
}
.brand-title a:hover, .brand-title a:focus {
  text-decoration: none;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(142, 142, 214);
}

.content {
    padding: 2em 3em 0;
}
.post {
    padding-bottom: 2em;
}
.post-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-title a {
  color: #222;
}
.post-title a:hover, .post-title a:focus {
  text-decoration: none;
}

.post-meta {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 90%;
    color: #ccc;
    margin: 0px 0px 30px 0px;
}
.post-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}
div.pagination .older { float: left; }
div.pagination .newer { float: right; }

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}
