<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto+Condensed:300,700,400' rel='stylesheet' type='text/css'>
    <link href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/pygments.css" rel="stylesheet" type="text/css">
    {% include google_analytics.html %}
  </head>

  <body>
    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header">
          <hgroup>
            <h1 class="brand-title">
              <a href="/">Jittuu's blog</a>
            </h1>
            <h2 class="brand-tagline">crafting software</h2>
          </hgroup>
        </header>
      </div>

      <div class="pure-u-1">
        <div class="content">

          {{ content }}
          <footer class="footer">
          <div class="pure-menu pure-menu-horizontal pure-menu-open">
            <ul>
              <li><a href="/about.html">About</a></li>
              <li><a href="//twitter.com/jittuu">Twitter</a></li>
              <li><a href="//github.com/jittuu">Github</a></li>
            </ul>
          </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
