<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <div id="header" class="span-24">
        <h1>Soe Moe's blog.</h1>
      </div>
      
      <div id="content" class="span-18">
        {{ content }}
      </div>
      <div id="navigation" class="span-6 last">
        <p><a href="/">home</a></p>
        <p><a href="/about.html">about</a></p>
        <p><a href="//github.com/jittuu">on github</a></p>
        <p><a href="//twitter.com/jittuu">@twitter</a></p>
        <p><a href="mailto:soemoetunlwin@gmail.com">via email</a></p>
      </div>
    </div>
  </body>
</html>
